<html>
   <body>
      <form action = "/" method = "POST">
         <p>x <input type = "number" name = "x" /></p>
         <p>y <input type ="number" name = "y" /></p>
         <p><input type = "submit" value = "submit" /></p>
      </form>
   <h1> Answer: {{answer}} </h1>
   </body>
</html>
